.layoutContainer {
    display: flex;
    height: calc(100% - 56px);
    width: 100vw;
}

.sidebarContent {
    flex: 1;
    color: #e2e2e2;
    background-color: #333333;
}

.mainChatContent {
    flex: 4;
}

.mainChatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px 0 10px;
}

.chatContainerHeader {
    height: 50px;
    background-color: lightblue;
}

.groupChannels {
    margin-bottom: 20px;
    margin-top: 20px;
}

.channelHeader {
    margin-left: 10px;
}

.channelList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.channelItem {
    padding: 5px 0 5px 10px;
}

.channelHeader {
    margin-bottom: 0;
    font-weight: 500;
}

.messageContent {
    overflow-y: auto;
}

.channelItem:hover {
    cursor: pointer;
    background-color: #606060;
}

.fas {
    display: none;
    text-align: left;
    font-size: 20px;
}

.chatContainerHeader p {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    font-size: 20px;
}

@media screen and (max-width: 649px) {
    .sidebarContent {
        flex: 1;
        z-index: 2;
    }

    .mainChatContent {
        flex: 2;
    }

    .fas {
        display: unset; 
    }
}