.from {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.message {
    margin-left: 20px;
}

.message:first-of-type {
    margin-top: 20px;
}

.message:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

.p {
    display: inline-block;
    padding: 0;
}

.p:nth-child(even) {
    margin-left: 5px;
}