.container {
    height: 100%;
    display: grid;
    background-color: #E0FEFF;
}

.center {
    margin: 20px auto 0 auto;
    text-align: center;
}

.pageContainer {
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.loginHeader {
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.loginSubheader {
    font-size: 1em;
    opacity: 0.8;
}

.forgotPass {
    padding: 0;
    float: right;
    opacity: 0.5;
}

.forgotPass:hover {
    opacity: 1;
    cursor: pointer;
}

.registerButton {
    margin-top: 5px !important;
}

.inputHeader {
    margin-bottom: 0;
    margin-top: 20px;
}

.customBtn {
    width: 100%;
    margin-top: 2px;
}

.input {
    width: 100%;
    background-color: #EDEFF0;
    color: black;
    border-color: #808080;
}

.formgroup {
    text-align: left;
}

.logo {
    height: 300px;
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        display: block;
    }

    .logo {
        max-width: 100%;
    }
}