.navbarCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    overflow-x: hidden;
}

.dropdownItem:focus {
    outline: none;
}

.navbarBrand {
    color: black;
    font-weight: 700;
}

.navbarBrand:hover {
    color: black;
    text-decoration: none;
}

.mainNav {
    background-image: url("../img/navbar_offwhite.png");
    box-shadow: 0 4px 2px -2px lightgray;
}

.mainNav::after {
    opacity: 0.5;
}

.chatIcon:hover {
    color: rgb(50, 50, 50);
}

.name {
    color: black;
    padding: 0;
}

.nameInProject {
    margin-top: 5px;
}