.navbarCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    overflow-x: hidden;
}

.dropdownItem:focus {
    outline: none;
}

.navbarBrand {
    color: black;
}

.navbarBrand:hover {
    color: black;
    text-decoration: none;
}

.mainNav {
    background-image: url("../img/navbar_img.png") ;
}