.projectItem {
    border: 1px solid black;
    height: 150px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.projectName {
    margin-left: 10px;
    margin-top: 10px;
}

@media (max-width: 469px) {
    .projectItem {
        width: 100%;
    }
}

@media (max-width: 574px) {
    .projectItem {
        width: 100%;
        margin: auto 20px 20px 20px;
    }
}