.container {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.lightGreen {
    background-color: lightgreen;
    transition: filter .15s ease-in-out;
}

.lightGreen:hover {
    filter: brightness(90%);
}

.lightBlue {
    transition: filter .15s ease-in-out;
    background-color: lightblue;
}

.lightBlue:hover {
    filter: brightness(90%);
}

.lightYellow {
    transition: filter .15s ease-in-out;
    background-color: lightyellow;
}

.lightYellow:hover {
    filter: brightness(90%);
}

.lightCoral {
    transition: filter .15s ease-in-out;
    background-color: lightcoral;
}

.lightCoral:hover {
    filter: brightness(90%);
}